/* Item/document types, useful for shorthand */
$item-types: job ability trait bond bond_power;
$actor-types: player foe summon;
$document-types: join($item-types, $actor-types);

/* Settings Layer*/
:root {
    --main-font-family: Helvetica, Arial, sans-serif;

    --main-theme-color: #991e2a;
    --main-theme-text: #e8bcbe;
    --secondary-theme-color: #121d21;

    --clock-fill: rgb(164, 135, 6);
    --clock-empty: rgb(39, 240, 240);
    --clock-border: #0c1638;

    $gap: 5px;
    --inset-box-clip: polygon($gap 0,
            calc(100% - $gap) 0,
            100% $gap,
            100% $gap,
            100% calc(100% - $gap),
            calc(100% - $gap) 100%,
            $gap 100%,
            0 calc(100% - $gap),
            0 $gap );
}