/* Item/document types, useful for shorthand */
$item-types: job ability trait bond bond_power;
$actor-types: player foe summon;
$document-types: join($item-types, $actor-types);

/* Settings Layer*/
:root {
    --main-font-family: Helvetica, Arial, sans-serif;

    // Principalis
    --primary-background: #202739;
    --primary-color: #ddedf8;
    --secondary-background: #044e48;
    --secondary-color: #b2e7bf;
    --tertiary-background: rgb(146, 228, 38);
    --tertiary-color: rgb(50, 11, 46);
    --primary-border: 1px solid white;

    // Tabs
    --tab-background: #010101;
    --tab-inactive-background: #344538;
    --tab-active-background: #d2b760;
    --tab-inactive-text: #fff1dd;
    --tab-active-text: #290808;

    // Clocks
    --clock-fill: rgb(164, 135, 6);
    --clock-empty: rgb(39, 240, 240);
    --clock-border: #0c1638;

    // TJS overrides
    --tjs-app-content-padding: 0px;

    // Foundry overrides

    // Patterns
    $gap: 5px;
    --inset-box-clip: polygon($gap 0,
            calc(100% - $gap) 0,
            100% $gap,
            100% $gap,
            100% calc(100% - $gap),
            calc(100% - $gap) 100%,
            $gap 100%,
            0 calc(100% - $gap),
            0 $gap );
}


// Fix inputs on sheets and other stuff core foundry is annoying about
.icon.sheet > section > main {
    background: var(--primary-background);
    color: var(--primary-color);

    input,select,textarea {
        color: inherit;
    }
    textarea {
        border: var(--primary-border);
    }

    h3 {
        border-bottom: none;
    }
}
