/* Item/document types, useful for shorthand */
$item-types: job ability trait bond bond_power;
$actor-types: player foe summon;
$document-types: join($item-types, $actor-types);

/* Settings Layer*/
:root {
    --main-font-family: Helvetica, Arial, sans-serif;

    // Principalis
    --primary-background: #202739;
    --primary-color: #ddedf8;
    --secondary-background: #354da6;
    --secondary-color: #b2e7bf;
    --tertiary-background: rgb(146, 228, 38);
    --tertiary-color: rgb(50, 11, 46);
    --primary-border: 1px solid white;
    --secondary-border: 1px solid rgb(27, 10, 55);

    // Tabs
    --tab-inactive-background: #504e45;
    --tab-active-background: #d9ac15;
    --tab-inactive-text: #fff1dd;
    --tab-active-text: #290808;

    // Clocks
    --clock-fill: #d9ac15;
    --clock-alt-fill: rgb(158, 20, 18);
    --clock-empty: rgb(222, 228, 228);
    --clock-border: #0c1638;

    // TJS overrides
    --tjs-app-content-padding: 0px;

    // Foundry overrides

    // Patterns
    $gap: 5px;
    --inset-box-clip: polygon($gap 0,
            calc(100% - $gap) 0,
            100% $gap,
            100% $gap,
            100% calc(100% - $gap),
            calc(100% - $gap) 100%,
            $gap 100%,
            0 calc(100% - $gap),
            0 $gap );
}


// Fix inputs on sheets and other stuff core foundry is annoying about
.icon>section>main,
li.chat-message {
    background: var(--primary-background);
    color: var(--primary-color);

    input,
    select,
    textarea,
    option {
        color: inherit;
    }

    option {
        background: var(--primary-background);
    }

    textarea {
        border: var(--primary-border);
    }

    h3 {
        border-bottom: none;
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--clock-fill);
    }

    a.content-link {
        background: var(--secondary-background);
    }


    a.inline-roll,
    .dice-tooltip {
        background: #0c1638;
    }

    /** Our generic tab view */
    .tab {
        clip-path: var(--inset-box-clip);
        margin: 5px;
        padding: 5px;
        text-align: center;
        width: calc(100% - 20px);
        cursor: pointer;

        background-color: var(--tab-inactive-background);
        color: var(--tab-inactive-text);

        &.active {
            background-color: var(--tab-active-background);
            color: var(--tab-active-text);
        }
    }
}

div.icon section.window-content {
    padding: 0px;
}

/** For inline text containers **/
.inline-container {
    border-radius: 5px;
    line-height: 1.5em;
    padding: 2px;
    border: var(--primary-border);
}

.iflexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iflexcol {
    display: flex;
    flex-direction: column;
}

/** Fix prosemirror size */
a.editor-edit {
    font-size: 1em;
}

.clickable {
    cursor: pointer;
}